* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    background-color: grey;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: darkgrey;
    display: flex;
}

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-end
}

.hero-text {
    position: relative;
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}